[Unit]
Description=Bluetooth auto bind
After=bluetooth.service sys-subsystem-bluetooth-devices-%i.device
Requires=bluetooth.service

[Service]
Type=simple
Restart=always
RestartSec=60
ExecStart=/usr/bin/bt_autoconnect.sh

[Install]
WantedBy=multi-user.target
